@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.addfont {
  font-family: "Montserrat", sans-serif;
}

#root {
  height: 100vh;
}

.scroll-bar::-webkit-scrollbar {
  background-color: transparent;
  width: 0.25rem;
  opacity: 0;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #979797;
  border-radius: 1rem;
  width: 0.25rem;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#myVideo {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(180deg);
}
